.holder{
    width: 500px;
    height: 100px;
    border: solid 5px black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex: 1 1 auto;
}
.item:nth-child(1){
    background-color: red;
    flex-basis: calc(50%);
    order: 1;
    border-top-left-radius: 10px;
}
.item:nth-child(2){
    background-color: rgb(42, 23, 145);
    flex-basis: calc(33.33%);
    order: 4;
}
.item:nth-child(3){
    background-color: rgb(178, 214, 19);
    flex-basis: calc(33.33%);
    order: 3;
}
.item:nth-child(4){
    background-color: rgb(212, 0, 255);
    flex-basis: calc(33.33% );
    order: 5;
}
.item:nth-child(5){
    background-color: rgb(0, 162, 255);
    flex-basis: calc(50%);
    order: 2;
    border-top-right-radius: 10px;
}